.total {
  text-align: center;
  margin: 30px;
  background-color: rgb(225, 220, 220);
  padding: 60px 150px 60px 150px;
  display: block;
}
.fa-regular {
  font-size: 48px;
  padding: 20px;
  color: rgb(69, 214, 214);
  text-align: center;
  padding-top: 25px;
}
b {
  font-size: 36px;
}
p {
  font-size: 18px;
}
#mail {
  padding: 15px;
  padding-right: 160px;
}
.mail {
  margin-bottom: 15px;
}
button {
  padding: 20px;
  /* width: 100px */
  background-color: rgb(73, 198, 198);
  border: white;
  border-radius: 5px;
  color: white;
}
/* .container {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 2px solid rgb(0, 0, 0);
} */
.container {
  margin: auto;
  width: 100px;
  border: 2px solid rgb(73, 198, 198);
  border-radius: 50%;
}
